<ion-header>
  <ion-toolbar color="dark">
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title >Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="light">
  <ion-toolbar color="light">
    <ion-title>Input Types</ion-title>
  
</ion-toolbar>

<ion-item  color="light">
<ion-label>Text Input</ion-label>
<ion-input placeholder="placeholder" type="text"></ion-input>
</ion-item>

<ion-item  color="light">
<ion-label>Number Input</ion-label>
<ion-input placeholder="placeholder" type="number"></ion-input>
</ion-item>

<ion-item  color="light">
<ion-label>Password Input</ion-label>
<ion-input placeholder="placeholder" type="password"></ion-input>
</ion-item>
</ion-content>

<div collapse="condense">
  <ion-footer >
    <ion-toolbar color="dark">
      <ion-title  >Internship Task</ion-title>
    </ion-toolbar>
  </ion-footer>
</div>